<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>
        <span *ngIf="currentSong.id; else elseBlock">{{
          originalTitle
        }}</span>
        <ng-template #elseBlock>Select a Song</ng-template>
      </h1>
    </mat-card-title>
  </mat-card-header>
  <form
    [formGroup]="form"
    #formDirective="ngForm"
    (ngSubmit)="save(formDirective)"
  >
  
    <mat-card-content>
      <mat-form-field appearance="outline" class="full-width" floatLabel>
        <input
          matInput
          placeholder="Name"
          formControlName="name"
          type="text"
          name="name"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width" floatLabel>
        <input
          matInput
          placeholder="Band"
          formControlName="band"
          type="text"
          name="band"
          />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-button color="primary">
        {{ originalTitle ? 'Save' : 'Create' }}
      </button>
      <button type="button" mat-button (click)="cancel()">Cancel</button>
    </mat-card-actions>
  </form>  
</mat-card>